@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

.class0{
    background-image: url('images/max_shirko_None_b20aa929-95e1-4cff-81b4-8d0306ac0b3e-2\ 1.png');
}

.class0_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.influenzila {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}

.influenzila_right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #FFFFFF 2px solid;
    border-top: #FFFFFF 2px solid;
    border-left: #FFFFFF 2px solid;
    padding: 10px;
    flex-grow: 1;
}

.influenzila_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    .title {
        font-family: Unbounded, sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #FFFFFF;
    }
}
.influenzila_caption {
    font-family: Unbounded, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 400;
    padding-right: 120px;
}


.influenzila_left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #FFFFFF 2px solid;
    border-bottom: #FFFFFF 1px solid;
    border-right: #FFFFFF 1px solid;
    flex-grow: 3;
}

.row1 { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
}

.row1_item{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-left: #FFFFFF 1px solid;
    border-right: #FFFFFF 1px solid;
    border-bottom: #FFFFFF 2px solid;
    padding: 20px;
    flex-grow: 1;
}



.row2 { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
}

.row2_item{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-left: #FFFFFF 1px solid;
    border-right: #FFFFFF 1px solid;
    border-bottom: #FFFFFF 1px solid;
    padding: 20px;
    flex-grow: 1;
}

.year{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 20px;
    margin-top: 407px;
}

.year_2023{
    background: linear-gradient(to right, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 10px;
    font-size: 27px;
    font-family: Unbounded, sans-serif;
    font-weight: 200;
}

.year_caption{
    background: linear-gradient(to right, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 12px;
    margin: 10px;
}

.class0_title{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title0_image{
    margin-left: 305px;
}

.class0_main-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: last baseline;
}

.main-text{
    background: linear-gradient(to right, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: Unbounded, sans-serif;
    font-size: 54px;
    font-weight: 300;
    margin-left: 6px;
}

.main-text_caption{
    font-family: Unbounded, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.title_right-side{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    margin-top: 20px;
    
}

.right-side_image{
    padding-bottom: 21px;
}

.right-side_caption{
    background: linear-gradient(to right, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 14px;
}

html, body {
    font-family: Inter Tight, sans-serif;
    background-color: black;
}

.container {
    max-width: 1261.67px;
    margin: 0 auto;
    padding: 0 auto;
}

.class1 {
    background-color: #000000;
}

.class1_body {
    max-width: 1249px;
    display: flex;
    flex-direction: column;
}

.text {
    margin-top: 48px;
    color: #E4E4E4;
    font-size: 14px;
}

.class1_text-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    span{
        background: linear-gradient(to right, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 12px;
        flex-grow: 1;
    }
    div {
        flex-grow: 2;
    }
}

.class1_title-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.class1_title{
    background: linear-gradient(to right, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 54px;
    font-family: Unbounded, sans-serif;
    font-weight: 200;
}


.class1_main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.image-box_text{
    background: linear-gradient(to right, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 14px;
}

.image2 {
    flex-grow: 2;
}


.class1_text2-box{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: flex-start;
    
}


.image-box {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    align-items: center;
}
.image-box_text {
    margin-bottom: 20px;
}